[Desktop Entry]
Name=Live CD Remastering Tool
Comment=Make changes to an ISO or a liveCD
Exec=mintconstructor
Icon=/usr/lib/linuxmint/mintConstructor/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
